/* Dashboard Layout */
.dashboardContainer {
    display: flex;
    min-height: 100vh;
    background-color: #F8F9FA;
    font-family: var(--font-poppins);
}

/* Main Content */
.mainContent {
    flex: 1;
    padding: 30px;
    overflow-y: auto;
    margin-left: 250px;
    /* Width of sidebar */
    transition: margin-left 0.3s ease;
}

.mobileHeader {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

@media (max-width: 768px) {
    .mainContent {
        margin-left: 0;
        padding: 20px;
    }

    .mobileHeader {
        display: flex;
    }

    .dashboardContainer {
        flex-direction: column;
    }
}